

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #fff;
}

html{
    scroll-behavior: smooth;
}


header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2af 100%);
    text-align: center;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
}

.img{
    width: 400px;
    margin-top: 200px;
}

.title{
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.menu{
    background: transparent;
    height: 80px;
    text-align: right;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.menu a{
    display: inline-block;
    line-height: 80px;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 0px 40px;
}

.btn-try{
    display: inline-block;
    text-decoration: none;
    width: 130px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    color: #667eea;
    font-weight: bold;
    transition: .5s;
}

.btn-try:hover{
    background-color: #764ba2af;
    color: white;
}

.absolute{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.absolute2{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.seccion1{
    background-color:hsl(270, 76%, 80%);
    height: 800px;
    position: relative;
}

.seccion2{
    background-color:#667eea;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formulario-container{
    width: 40%;
    height: 220px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 30px 0;
    overflow: hidden;
    
}

input{
    margin-top: 30px;
    display: inline-block;
    width: 80%;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

input[type="submit"]{
    display: inline-block;
    text-decoration: none;
    width: 50%;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    color: #667eea;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #764ba2af;
    color: white;
}

.arreglo{
    width: 70%;
    display: flex;
    justify-content: center;
}

.arreglo2{
    width: 70%;
    display: flex;
    justify-content: center;
}

.respuestas{
    width: 65%;
    height: 220px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.respuestas h2{
    margin: 20px 0;
}

.respuestas p{
    margin: 10px 0;
}

